
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/email.css">
	

	<div class="flex-container">
    <div class="container">
        <h1>Register here</h1>
        <p class="lead">Enter your email to Register. <strong><%= count %></strong> users have already Registered. </p>   // count is the ejs and we have done this in line 26 of email.js
        <form method="POST" action='/register'>      // We are using POST because it will allow us to send the form data
            <input type="text" name="email" class="form" placeholder="Enter Your Email">
            <button>Join Now</button>
        </form>
    </div>
</div>

